.dockerfile-preview {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 12px #0077ee16;
  padding: 0 0 16px 0;
  margin-top: 0;
  min-height: 220px;
  max-width: 100%;

  .preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px 14px 0 0;
    background: #f6faff;
    font-size: 1.01rem;
    font-weight: 600;
    padding: 13px 16px 10px 14px;
    mat-icon {
      font-size: 1.22rem;
      color: #2780eb;
      vertical-align: middle;
    }
    .preview-actions button {
      margin-left: 4px;
    }
  }
  .dockerfile-content {
    background: #212a38;
    color: #fff;
    font-size: 1.08rem;
    border-radius: 0 0 14px 14px;
    padding: 20px 16px 16px 16px;
    margin: 0;
    font-family: 'Fira Mono', 'Menlo', monospace;
    min-height: 110px;
    white-space: pre-line;
    box-shadow: 0 1px 5px #0001;
  }
}
