.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 32px;
  background: #242f3e;
  color: #fff;

  .left {
    display: flex;
    align-items: center;
    .project-title {
      margin-left: 16px;
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .right {
    display: flex;
    align-items: center;
  }
}
