.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;     // ou la hauteur voulue
  padding: 0;       // pas de padding sur la barre
  background: #fff; // couleur si tu veux
  width: 100%;      // occupe toute la largeur (par défaut)
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-left: 12px;
}


.text-primary {
    color: #0072F5;
}