:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: #fff;
  color: #7c8b99;
  font-size: 0.97em;
  box-shadow: 0 -2px 8px 0 rgba(35,46,60,0.03);
}

a {
  color: #21c87a;
  text-decoration: none;
  margin-left: 8px;
}
