
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import "primeicons/primeicons.css";

:root {
  --body-bg: var(--p-surface-50);
  --body-text-color: var(--p-surface-900);
  --card-border: 1px solid var(--border-color);
  --card-bg: var(--p-surface-0);
  --border-color: var(--p-surface-200);
  --text-color: var(--p-surface-700);
  --overlay-background: #ffffff;
}




html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; // Ne jamais scroller sur le <body> global
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#root, app-root {
  height: 100vh;
}

.card {
  background: var(--card-bg);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
    
.btn-blue-right .p-button {
  background: #0072F5 !important;
  border-color: #0072F5 !important;
  color: #fff !important;
}
.btn-blue-right .p-button:hover,
.btn-blue-right .p-button:focus {
  background: #005ac3 !important; // couleur hover
  border-color: #005ac3 !important;
  color: #fff !important;
}
 .btn-blue-right .p-button .pi {
  font-size: 1.1em;
  margin-left: 0.4em;
}

/* Bordure seulement */
.mat-icon-bordered {
  border: 2px solid #0072F5;
  border-radius: 50%;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Couleur de l'icône */
.mat-icon-colored {
  color: #0072F5 !important;
}
.mat-icon-bordered-outline {
  color: #0072F5; /* couleur de contour */
  /* PAS de background ni de border classique */
}

.step-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.2rem;
  width: 100%;
  gap: 14px;

  .nav-btn {
    min-width: 148px;
    font-size: 1.05rem;
    font-weight: 600;
  }

  .nav-btn-prev {
    justify-self: flex-start;
  }
  .nav-btn-next {
    justify-self: flex-end;
  }
}