<div class="card flex justify-center">
<p-select
      class="lang-select"
      [options]="languages"
      optionLabel="label"
      optionValue="code"
       placeholder="Select a languages" 
      [ngModel]="selectedLang"
      (onChange)="onLangChange($event.value)"
      inputId="lang-switch"
      [showClear]="false"
      [lang]="true" 
      class="w-full md:w-56">
      <ng-template #lang let-lang>
        <div class="flex items-center">
        <span class="flag">{{ lang.flag }}</span>
        <span class="label">{{ lang.label }}</span>
        </div>
      </ng-template>
    </p-select>
</div>
