<div class="dockerfile-preview">
  <div class="preview-header">
    <span><mat-icon>visibility</mat-icon> {{ 'BASE_IMAGE.DOCKERCOMMAND_PREVIEW' | translate }}</span>
    <span class="preview-actions">
        <p-buttongroup>
            <p-button 
            (click)="copy.emit()" 
            icon="pi pi-copy" 
            size="small" 
            [raised]="true" 
            severity="secondary" />
            <p-button (click)="download.emit()" icon="pi pi-download" size="small" [raised]="true" severity="secondary" />
        </p-buttongroup>
    </span>
  </div>
  <pre class="dockerfile-content">
{{ content }}
  </pre>
</div>

